task63/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
task64/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
task65/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
task66/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
task68/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
task63/obj/Debug/net7.0/apphost.exe
task64/obj/Debug/net7.0/apphost.exe
task66/obj/Debug/net7.0/apphost.exe
task68/obj/Debug/net7.0/apphost.exe
.gitignore
task63/obj/project.assets.json
task64/obj/project.assets.json
task65/obj/project.assets.json
task66/obj/project.assets.json
task68/obj/project.assets.json
task63/obj/project.nuget.cache
task64/obj/project.nuget.cache
task65/obj/project.nuget.cache
task66/obj/project.nuget.cache
task68/obj/project.nuget.cache
task63/obj/Debug/net7.0/task63.AssemblyInfo.cs
task63/obj/Debug/net7.0/task63.AssemblyInfoInputs.cache
task63/obj/Debug/net7.0/task63.assets.cache
task63/task63.csproj
task63/obj/Debug/net7.0/task63.csproj.AssemblyReference.cache
task63/obj/Debug/net7.0/task63.csproj.CoreCompileInputs.cache
task63/obj/Debug/net7.0/task63.csproj.FileListAbsolute.txt
task63/obj/task63.csproj.nuget.dgspec.json
task63/obj/task63.csproj.nuget.g.props
task63/obj/task63.csproj.nuget.g.targets
task63/bin/Debug/net7.0/task63.deps.json
task63/bin/Debug/net7.0/task63.dll
task63/obj/Debug/net7.0/task63.dll
task63/obj/Debug/net7.0/ref/task63.dll
task63/obj/Debug/net7.0/refint/task63.dll
task63/bin/Debug/net7.0/task63.exe
task63/obj/Debug/net7.0/task63.GeneratedMSBuildEditorConfig.editorconfig
task63/obj/Debug/net7.0/task63.genruntimeconfig.cache
task63/obj/Debug/net7.0/task63.GlobalUsings.g.cs
task63/bin/Debug/net7.0/task63.pdb
task63/obj/Debug/net7.0/task63.pdb
task63/bin/Debug/net7.0/task63.runtimeconfig.json
task64/obj/Debug/net7.0/task64.AssemblyInfo.cs
task64/obj/Debug/net7.0/task64.AssemblyInfoInputs.cache
task64/obj/Debug/net7.0/task64.assets.cache
task64/task64.csproj
task64/obj/Debug/net7.0/task64.csproj.AssemblyReference.cache
task64/obj/Debug/net7.0/task64.csproj.CoreCompileInputs.cache
task64/obj/Debug/net7.0/task64.csproj.FileListAbsolute.txt
task64/obj/task64.csproj.nuget.dgspec.json
task64/obj/task64.csproj.nuget.g.props
task64/obj/task64.csproj.nuget.g.targets
task64/bin/Debug/net7.0/task64.deps.json
task64/bin/Debug/net7.0/task64.dll
task64/obj/Debug/net7.0/task64.dll
task64/obj/Debug/net7.0/ref/task64.dll
task64/obj/Debug/net7.0/refint/task64.dll
task64/bin/Debug/net7.0/task64.exe
task64/obj/Debug/net7.0/task64.GeneratedMSBuildEditorConfig.editorconfig
task64/obj/Debug/net7.0/task64.genruntimeconfig.cache
task64/obj/Debug/net7.0/task64.GlobalUsings.g.cs
task64/bin/Debug/net7.0/task64.pdb
task64/obj/Debug/net7.0/task64.pdb
task64/bin/Debug/net7.0/task64.runtimeconfig.json
task65/obj/Debug/net7.0/task65.AssemblyInfo.cs
task65/obj/Debug/net7.0/task65.AssemblyInfoInputs.cache
task65/obj/Debug/net7.0/task65.assets.cache
task65/task65.csproj
task65/obj/Debug/net7.0/task65.csproj.AssemblyReference.cache
task65/obj/task65.csproj.nuget.dgspec.json
task65/obj/task65.csproj.nuget.g.props
task65/obj/task65.csproj.nuget.g.targets
task65/obj/Debug/net7.0/task65.GeneratedMSBuildEditorConfig.editorconfig
task65/obj/Debug/net7.0/task65.GlobalUsings.g.cs
task66/obj/Debug/net7.0/task66.AssemblyInfo.cs
task66/obj/Debug/net7.0/task66.AssemblyInfoInputs.cache
task66/obj/Debug/net7.0/task66.assets.cache
task66/task66.csproj
task66/obj/Debug/net7.0/task66.csproj.AssemblyReference.cache
task66/obj/Debug/net7.0/task66.csproj.CoreCompileInputs.cache
task66/obj/Debug/net7.0/task66.csproj.FileListAbsolute.txt
task66/obj/task66.csproj.nuget.dgspec.json
task66/obj/task66.csproj.nuget.g.props
task66/obj/task66.csproj.nuget.g.targets
task66/bin/Debug/net7.0/task66.deps.json
task66/bin/Debug/net7.0/task66.dll
task66/obj/Debug/net7.0/task66.dll
task66/obj/Debug/net7.0/ref/task66.dll
task66/obj/Debug/net7.0/refint/task66.dll
task66/bin/Debug/net7.0/task66.exe
task66/obj/Debug/net7.0/task66.GeneratedMSBuildEditorConfig.editorconfig
task66/obj/Debug/net7.0/task66.genruntimeconfig.cache
task66/obj/Debug/net7.0/task66.GlobalUsings.g.cs
task66/bin/Debug/net7.0/task66.pdb
task66/obj/Debug/net7.0/task66.pdb
task66/bin/Debug/net7.0/task66.runtimeconfig.json
task68/obj/Debug/net7.0/task68.AssemblyInfo.cs
task68/obj/Debug/net7.0/task68.AssemblyInfoInputs.cache
task68/obj/Debug/net7.0/task68.assets.cache
task68/task68.csproj
task68/obj/Debug/net7.0/task68.csproj.AssemblyReference.cache
task68/obj/Debug/net7.0/task68.csproj.CoreCompileInputs.cache
task68/obj/Debug/net7.0/task68.csproj.FileListAbsolute.txt
task68/obj/task68.csproj.nuget.dgspec.json
task68/obj/task68.csproj.nuget.g.props
task68/obj/task68.csproj.nuget.g.targets
task68/bin/Debug/net7.0/task68.deps.json
task68/bin/Debug/net7.0/task68.dll
task68/obj/Debug/net7.0/task68.dll
task68/obj/Debug/net7.0/ref/task68.dll
task68/obj/Debug/net7.0/refint/task68.dll
task68/bin/Debug/net7.0/task68.exe
task68/obj/Debug/net7.0/task68.GeneratedMSBuildEditorConfig.editorconfig
task68/obj/Debug/net7.0/task68.genruntimeconfig.cache
task68/obj/Debug/net7.0/task68.GlobalUsings.g.cs
task68/bin/Debug/net7.0/task68.pdb
task68/obj/Debug/net7.0/task68.pdb
task68/bin/Debug/net7.0/task68.runtimeconfig.json
Задача 68/obj/Debug/net6.0/Задача 68.GlobalUsings.g.cs
Задача 68/obj/Debug/net6.0/Задача 68.GeneratedMSBuildEditorConfig.editorconfig
Задача 68/obj/Debug/net6.0/Задача 68.AssemblyInfoInputs.cache
Задача 68/obj/Debug/net6.0/Задача 68.AssemblyInfo.cs
Задача 66/bin/Debug/net6.0/Задача 66.runtimeconfig.json
Задача 66/obj/Debug/net6.0/Задача 66.pdb
Задача 66/bin/Debug/net6.0/Задача 66.pdb
Задача 66/obj/Debug/net6.0/Задача 66.GlobalUsings.g.cs
Задача 66/obj/Debug/net6.0/Задача 66.genruntimeconfig.cache
Задача 66/obj/Debug/net6.0/Задача 66.GeneratedMSBuildEditorConfig.editorconfig
Задача 66/bin/Debug/net6.0/Задача 66.exe
Задача 66/obj/Debug/net6.0/refint/Задача 66.dll
Задача 66/obj/Debug/net6.0/ref/Задача 66.dll
Задача 66/obj/Debug/net6.0/Задача 66.dll
Задача 66/bin/Debug/net6.0/Задача 66.dll
Задача 66/bin/Debug/net6.0/Задача 66.deps.json
Задача 66/obj/Задача 66.csproj.nuget.g.targets
Задача 66/obj/Задача 66.csproj.nuget.g.props
Задача 66/obj/Задача 66.csproj.nuget.dgspec.json
Задача 66/obj/Debug/net6.0/Задача 66.csproj.FileListAbsolute.txt
Задача 66/obj/Debug/net6.0/Задача 66.csproj.CoreCompileInputs.cache
Задача 66/obj/Debug/net6.0/Задача 66.csproj.AssemblyReference.cache
Задача 66/obj/Debug/net6.0/Задача 66.assets.cache
Задача 66/obj/Debug/net6.0/Задача 66.AssemblyInfoInputs.cache
Задача 66/obj/Debug/net6.0/Задача 66.AssemblyInfo.cs
Задача 64/bin/Debug/net6.0/Задача 64.runtimeconfig.json
Задача 64/obj/Debug/net6.0/Задача 64.pdb
Задача 64/bin/Debug/net6.0/Задача 64.pdb
Задача 64/obj/Debug/net6.0/Задача 64.GlobalUsings.g.cs
Задача 64/obj/Debug/net6.0/Задача 64.genruntimeconfig.cache
Задача 64/obj/Debug/net6.0/Задача 64.GeneratedMSBuildEditorConfig.editorconfig
Задача 64/bin/Debug/net6.0/Задача 64.exe
Задача 64/obj/Debug/net6.0/refint/Задача 64.dll
Задача 64/obj/Debug/net6.0/ref/Задача 64.dll
Задача 64/obj/Debug/net6.0/Задача 64.dll
Задача 64/bin/Debug/net6.0/Задача 64.dll
Задача 64/bin/Debug/net6.0/Задача 64.deps.json
Задача 64/obj/Задача 64.csproj.nuget.g.targets
Задача 64/obj/Задача 64.csproj.nuget.g.props
Задача 64/obj/Задача 64.csproj.nuget.dgspec.json
Задача 64/obj/Debug/net6.0/Задача 64.csproj.FileListAbsolute.txt
Задача 64/obj/Debug/net6.0/Задача 64.csproj.CoreCompileInputs.cache
Задача 64/obj/Debug/net6.0/Задача 64.csproj.AssemblyReference.cache
Задача 64/obj/Debug/net6.0/Задача 64.assets.cache
Задача 64/obj/Debug/net6.0/Задача 64.AssemblyInfoInputs.cache
Задача 64/obj/Debug/net6.0/Задача 64.AssemblyInfo.cs
Задача 66/obj/project.nuget.cache
Задача 64/obj/project.nuget.cache
Задача 66/obj/project.assets.json
Задача 64/obj/project.assets.json
Задача 66/obj/Debug/net6.0/apphost.exe
Задача 64/obj/Debug/net6.0/apphost.exe
Задача 68/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Задача 66/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Задача 64/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.gitignore
.gitignore
.gitignore
